* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient( -45deg, #c7d5fc, #c7d5fc 5px, #e5e5f7 5px, #e5e5f7 25px );
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
